.navbar {
  color: rgb(255, 255, 255);
  width: 99%;
  height: auto;
  padding: 5px;
  display: flex;
  background-color: rgba(14, 1, 1, 1);
  justify-content: space-evenly;

  padding-bottom: 15px;
  margin: 0.2rem;
  border-radius: 20px;
}

h1 {
  font-size: 3rem;
}
.auth {
  margin-top: 25px;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.auth button {
  margin-top: 25px;
  border-radius: 15px;
  padding: 15px;
  background: rgba(214, 110, 240, 0.712);
  border: none;
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.arkadeTokens {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
.arkadeTokens p {
  margin: 5px;
}

.linear-wipe {
  text-align: center;

  background: linear-gradient(
    to right,
    rgb(255, 255, 255) 20%,
    rgb(255, 0, 200) 40%,
    rgb(217, 0, 255) 60%,
    rgb(255, 255, 255) 80%
  );
  background-size: 200% auto;

  color: #000;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: shine 15s linear infinite alternate;
}
@keyframes shine {
  to {
    background-position: 300% center;
  }
}

.currentAddy {
  display: flex;
  letter-spacing: 0.2rem;

  flex-direction: column;
  align-items: center;
  background-color: rgb(12, 11, 12);
  padding: 15px 35px;
  margin-top: 20px;
  border-radius: 14px;
  box-shadow: inset 3px 3px rgba(255, 226, 226, 0.075),
    inset 5px 5px rgba(255, 226, 226, 0.05),
    inset 7px 7px rgba(255, 226, 226, 0.025);
}

.setAffiliateBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.affAddress {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px 0px;
}
.affAddress button {
  margin-top: 3px;
  background-color: rgba(110, 78, 108, 0.849);
  color: rgb(255, 255, 255);
}

.modalctr {
  position: absolute;
  width: 200px;
  top: 150px;
  overflow: hidden;
  height: 500px;
}
#accountModal {
  position: absolute;
  padding: 10px;
  background-color: rgb(24, 16, 16);
  border: rgba(14, 1, 1, 1) solid 3px;
  border-radius: 15px;
  width: 200px;
  height: auto;
  top: 15px;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: 0;
  overflow: hidden;
  pointer-events: none;
  animation: profileAnimation 0.5s ease-in-out;
}

#accountModal.active {
  transform: translateY(0);
  opacity: 1;
  pointer-events: auto;
}

@keyframes profileAnimation {
  0% {
    top: -350px;
  }
  100% {
    top: 15px;
  }
}
